<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>购物车</title>
    <style>
      div.active {
        color: aqua;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1>购物车</h1>
      <input v-model="course" type="text" @keydown.enter="addCourse" />
      <button @click="addCourse">addCourse</button>
      <div
        :class="{ active: selectedCourse === course }"
        v-for="(course, index) in courses"
        :key="index"
        @click="selectedCourse = course"
      >
        {{ course }}
      </div>
      <p>
        <!-- 课程总数： {{ courses.length }} -->
        <!-- {{ total }} -->
        {{ totalCount }}
      </p>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data() {
        return {
          course: '',
          selectedCourse: '',
          totalCount: '',
          courses: ['web全栈', 'web高级']
        }
      },
      computed: {
        total() {
          return this.courses.length 
        }
      },
      watch: {
        courses: {
          immediate: true,
          deep: true,
          handler(newValue, oldValue) {
            this.totalCount = newValue.length
          }
        }
      },
      methods: {
        addCourse() {
          this.courses.push(this.course)
          this.course = ''
        }
      }
    })
  </script>
</html>
